@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,body{
    display: grid;
    height: 100%;
    place-items: center;
}

.buttons{
    display: flex;
    width: 500px;
    height: 300px;
    align-items: center;
    justify-content: space-around;
}

.buttons .row{
    display: block;
}

.buttons .row button{
    position: relative;
    display: block;
    width: 150px;
    height: 55px;
    margin: 40px 0px;
    font-weight: 500;
    color: #fff;
    font-size: 20px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
    transition: all 0s ease-out;
}

.row button:active{
    top: 3px;
}

.facebook,.facebook span{
    background: #3b5999;
    border-left: 1px solid #2E4476;
    box-shadow: 0px 5px 0px 0px #2E4476;
}
.facebook:active{
    box-shadow: 0px 2px 0px 0px #2E4476;
}
.twitter, .twitter span{
    background: #46C1F6;
    border-left: 1px solid #269BD0;
    box-shadow: 0px 5px 0px 0px #269BD0;
}

.twitter:active{
    box-shadow: 0px 2px 0px 0px #269BD0;
}
.instagram, .instagram span{
    background: #e1306c;
    border-left: 1px solid #c91d56;
    box-shadow: 0px 5px 0px 0px #c91d56;
}
.instagram:active{
    box-shadow: 0px 2px 0px 0px #c91d56;
}
.youtube,.youtube span{
    background: #DE463B;
    border-left: 1px solid #C02B21;
    box-shadow: 0px 5px 0px 0px #C02B21;
}

.youtube:active{
    box-shadow: 0px 2px 0px 0px #C02B21;
}

.row button span{
    position: absolute;
    height: 55px;
    width: 60px;
    top: 0px;
    left: -61px;
    line-height: 55px;
    display: block;
    border-radius: 5px 0 0 5px;
    font-size: 25px;
    font-weight: normal;
    
}

.row button:active span{
    top: -3px;
}